
*{
    box-sizing: border-box;
}

body{
    background-color: #222;
    height: 100%;

}

#container{
    position:absolute;
    margin-left: -400px;
    width: 900px;
    height: 100%;
    background-color: #fff;
    left:50%
}

aside{
    float: left;
    width: 300px;
    padding: 20px 50px;
    height: 100%;
    background-color: rgb(226, 226, 226);
}
aside>div>img{
    width: 230px;
    height: 300px;
    border-radius: 150px;
}

#main{
    float: right;
    padding: 40px;
    width: 600px;
    height: 100px;
}