#box1{
    background-color: pink;
    color:#fff;
    height: 400px;
    width: 400px;
    margin: auto;
}

#box1 h1{text-align: center;

}

#box1 p{text-align: center;

}

#box1 ul li{
    list-style: none;
    padding-left: 100px;
}