div.lottoball_1{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(223, 42, 193, 0.671);
        background-color: rgba(223, 42, 193, 0.671);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }
    
    div.lottoball_2{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(76, 118, 255, 0.671);
        background-color: rgba(76, 118, 255, 0.671);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }

    div.lottoball_3{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(141, 209, 14, 0.671);
        background-color: rgba(141, 209, 14, 0.671);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }

    div.lottoball_4{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(136, 42, 223, 0.671);
        background-color: rgba(136, 42, 223, 0.671);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }

    div.lottoball_5{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(255, 17, 17, 0.671);
        background-color: rgba(255, 17, 17, 0.671);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }

    div.lottoball_6{


        width: 100px;
        height: 100px;
        border: solid 3px rgba(255, 230, 0, 0.973);
        background-color: rgba(255, 230, 0, 0.973);
        font-size: 3em;
        border-radius: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: 100px;
        color: white;
        box-shadow: 10px 10px 10px rgb(201, 201, 201);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20; 
        float: left;
       
    }